<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
 
    <title>Farmo Help</title>
 
    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        #head_img {
            height: 50vh;
            width: 100%;
        }
 
        .card-style {
            background-color: rgb(121, 212, 233);
 
        }
        
        .content {
            padding: 15px;
            color: white;
            background-color: rgb(121, 212, 233);
            /* font-size: 1rem; */
        }
 
        @media (max-width: 430px) and (min-width: 200px) {
 
            .contents {
                font-size: 0.6rem;
                color: chartreuse;
            }
 
            .content-h1 {
 
                font-size: 1rem;
            }
        }
 
        .border img {
            border-radius: 15px;
            border: 2px solid black;
        }
    </style>
</head>
 
<body>
 
    <div>
            <img src="./static/images/img10.jpg" id="head_img"class="w3-border w3-padding" alt="Loading...."
            >
    </div>
 
    <div class="container my-2">
        <div class="row mb-5" >
 
            <div class="col-sm" style="margin-bottom: 23px;">
                <span class="border border-primary">
                    <img src="{{ user_image }}" alt="User Image" class="img-thumbnail">
                    <!-- <img src="{{pred_output}}" alt="User Image" class="img-thumbnail"> -->
 
                </span>
            </div>
 
            <div class="col-sm" >
 
                <div>
                    <h1 style="padding: 15px; background-color: rgb(121, 212, 133); color: white;"
                        class="text-center mb-5 content-h1 rounded">
                        {{pred_output}} </h1>
                </div>
 
                <h2>Disease Name / रोग का नाम / रोगाचे नाव / રોગ નામ / ರೋಗದ ಹೆಸರು / వ్యాధి పేరు : </span></h2>
                <h3 style="line-height: 100%;">Attack of Leaf Sucking and Chewing Pests <br> चुरडा,मावा रोग <br> લીફ
                    ચૂસીને જીવાતો જીવાતોનો હુમલો <br> ಎಲೆ
                    ಹೀರುವ
                    ಮತ್ತು ಚೂಯಿಂಗ್ ಕೀಟಗಳ ದಾಳಿ <br> ఆకు పీల్చటం మరియు చూయింగ్ తెగుళ్ళ దాడి</h3>
                <hr class="w-100 mx-auto ">
            </div>
        </div>
 
        <h1 style="background-color: rgb(121, 212, 133);"> Solution for Disease / रोग का उपचार / रोगाचा उपाय / રોગનો ઉપાય / ರೋಗಕ್ಕೆ ಪರಿಹಾರ / వ్యాధికి పరిష్కారం: </h1>
        <li><strong>Use any one Systemic Insecticide, which contain<i> Flonicamid 50%/ Thiamethoxam 25% WG / Imidacloprid
                    17.8 Sl / Acetamiprid 20% SP.</i></strong></p>
        <p></li>
        <li>किसी भी एक प्रणालीगत कीटनाशक का प्रयोग करें, जिसमें फ्लोनिकमिड ५०% / थियामेथोक्साम 25% WG / इमिडाक्लोप्रिड
            १७.८
            एसएल / एसिटामिप्रिड २०% एसपी है।</li>
        <li>कोणत्याही एक सिस्टीमिक कीटकनाशकाचा वापर करा, ज्यात फ्लोनीकायमिड ५०% / थियॅमेथॉक्सम 25% WG / इमिडाक्लोप्रिड
            १७.८
            एसएल / एसीटामिप्रिड २०% एसपी असेल.</li>
        <li>કોઈપણ એક પ્રણાલીગત જંતુનાશક દવાઓનો ઉપયોગ કરો, જેમાં ફ્લોનીકેમિડ 50% / થાઇઆમેથોક્સમ 25% WG / ઇમિડાકલોપ્રિડ
            17.8
            એસએલ / એસેટામિપ્રિડ 20% એસપી હોય છે.</li>
        <li>ಫ್ಲೋನಿಕಾಮಿಡ್ 50% / ಥಿಯಾಮೆಥೊಕ್ಸಮ್ 25% WG / ಇಮಿಡಾಕ್ಲೋಪ್ರಿಡ್ 17.8 ಎಸ್ಎಲ್ / ಅಸೆಟಾಮಿಪ್ರಿಡ್ 20% ಎಸ್ಪಿ ಹೊಂದಿರುವ
            ಯಾವುದೇ
            ಒಂದು ವ್ಯವಸ್ಥಿತ ಕೀಟನಾಶಕವನ್ನು ಬಳಸಿ.</li>
        <li>ఫ్లోనికామిడ్ 50% / థియామెథోక్సామ్ 25% WG / ఇమిడాక్లోప్రిడ్ 17.8 స్లా / ఎసిటామిప్రిడ్ 20% ఎస్పిని కలిగి ఉన్న
            ఏదైనా
            ఒక దైహిక పురుగుమందును వాడండి.</li>
    </div>
 
    <section>
 
        <div class="container">
            <h1 style="padding: 15px; background-color: rgb(121, 212, 233); color: white;"
                class="text-center my-3 content-h1">
                Recommended Products</h1>
        </div>
 
        <div class="container">
 
            <div class="card-columns">
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 50px;" class="img-fluid" src="./static/images/preet.png" alt="">
                        <h3 class="card-text">Dose: 60-80 gm/Acre</h3>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 50px;" class="img-fluid" src="./static/images/ulala.png" alt="">
                        <h3 class="card-text">Dose: 25-40 gm/Acre</h3>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 50px" class="img-fluid" src="./static/images/victor.png" alt="">
                        <h3 class="card-text">Dose: 60-80 gm/Acre</h3>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 50px;" class="img-fluid" src="./static/images/confidor.png" alt="">
                        <h3 class="card-text">Dose: 25-35 ml/Acre</h3>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 50px;" class="img-fluid" src="./static/images/panama.png" alt="">
                        <h3 class="card-text">Dose: 60-80 gm/Acre</h3>
                    </div>
                </div>
                <div class="card ">
                    <div class="card-body text-center card-style">
                        <img style="border-radius: 50px;" class="img-fluid" src="./static/images/actara.png" alt="">
                        <h3 class="card-text">Dose: 60-80 gm/Acre</h3>
                    </div>
                </div>
 
            </div>
 
        </div>
 
    </section>
 
</body>
 
</html>